body {
  background: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #000;
  border: black 2px solid;
  position: relative;
  animation-name: circle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes circle {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(200px);
  }
}
